@import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css);


.variation {
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  /* Need to change colors both here and in board-setup.js */
  box-shadow: inset 0  0 0 #2780e3;
  color: #2780e3;
  margin: 0 -.1rem;
  padding: 0 .1rem;
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

.variation:hover {
  /* Increase first part of inset as needed */
  box-shadow: inset 10vw 0 0 0 #2780e3;
  color: white;
}
